<% if logged_in? %>
<div class="row">
<%= render 'shared/logged_in'%>
<div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
</div>
<% else %>
<div class="center jumbotron">
<%= render 'shared/logged_out'%>
</div>


<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<% end %>
